@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@416&display=swap');

$font-montserrat: 'montserrat';

$bg-color: #EBB026;
$input-bg-color: #2663EB;
$input-bg-accent-color: #4A6196;

$element-bg-color: #AB8D46;
$element-border-color: #6B6047;

$txt-color: #353941;

$default-font: 16px;
$md-font: 24px;
$lg-font: 32px;