@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@416&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EBB026;
  color: #353941;
  font-family: "montserrat";
}

.post__container {
  width: 40rem;
  position: relative;
}

select {
  width: 10rem;
  margin: 1rem;
  padding: 1rem;
  color: white;
  background-color: #2663EB;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  box-shadow: 2px -2px 5px #4A6196;
}
select option:last-child {
  border-radius: 0 0 10px 10px;
}

button {
  width: 10rem;
  margin: 0;
  padding: 1rem;
  color: white;
  background-color: #2663EB;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  box-shadow: 2px -2px 5px #4A6196;
  margin-bottom: 1rem;
}
button:hover {
  box-shadow: 4px -4px 5px #4A6196;
}

.format-button {
  margin: 0 20px;
  margin-top: 10px;
  cursor: pointer;
}

.bold-button {
  z-index: 3;
  width: 100px;
  right: 20px;
  top: 20px;
  height: 30px;
  position: absolute;
}

.element-input {
  width: 20rem;
  margin: 1rem;
  padding: 1rem;
  color: white;
  background-color: #2663EB;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  box-shadow: 2px -2px 5px #4A6196;
}

.generated-element, .post__container-post {
  border: 5px solid #6B6047;
  padding: 1rem;
  border-radius: 10px;
  background-color: #AB8D46;
  color: white;
  overflow: auto;
  width: 100%;
  margin: 5px 0;
  scrollbar-color: #EBB026 #AB8D46;
  scrollbar-width: thin;
}

.generated-element {
  width: 90%;
}

.edit-input {
  border: 5px solid #6B6047;
  padding: 1rem;
  border-radius: 10px;
  background-color: #AB8D46;
  color: white;
  display: block;
  line-height: 1rem;
  margin: 1rem auto;
  font-size: 24px;
  outline: none;
  width: 100%;
}
.edit-input:focus {
  border: 5px solid rgb(61.0140449438, 54.7415730337, 40.4859550562);
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.remove-button {
  width: 10rem;
  margin: 0;
  padding: 1rem;
  color: white;
  background-color: #2663EB;
  outline: none;
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  box-shadow: 2px -2px 5px orangered;
  background-color: orangered;
}
.remove-button:hover {
  box-shadow: 4px -4px 5px rgb(205, 55, 0);
}

p, h1 {
  margin: 10px 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

/*# sourceMappingURL=main.css.map */
